@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.ttf);
}

body {
  @apply bg-eerie text-smoke font-roboto min-h-screen;
}

@theme {
  --color-smoke: #f5f5f5;
  --color-eerie: #1f1f1f;
  --color-jet: #292929;
  --color-indigo: #6320ee;

  --font-roboto: Roboto;
}

@layer base {
  h1 {
    @apply font-bold text-5xl;
  }
}

@layer components {
  /* Default margin and paddding for containers */
  .mp-default {
    @apply my-2 mx-auto p-4;
  }

  /* Styling for hamburger menu bars */
  .hamburger-menu {
    @apply bg-smoke w-6 h-[2px] rounded-full;
  }

  /* Drop down menu links */
  .dropdown-links {
    @apply flex items-center gap-4;
  }

  /* Style for gradient button background */
  .button-gradient {
    @apply bg-gradient-to-br from-indigo/55 via-indigo/90 to-indigo/55 text-smoke;
  }

  /* Hero background gradient */
  .hero-gradient {
    background: conic-gradient(
      hsl(260, 86%, 53%),
      hsl(305, 100%, 69%),
      hsl(190, 100%, 56%),
      hsl(35, 100%, 50%)
    );
  }

  /* Hero header text */
  .hero-header {
    @apply font-bold text-5xl;
  }

  /* Hero subtext */
  .hero-subtext {
    @apply font-bold text-2xl;
  }

  /* Border style for containers */
  .container-border {
    @apply border-smoke/5 border-t-2 border-b-2 rounded-4xl;
  }
}
