@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.ttf);
}

body {
  @apply bg-eerie text-smoke font-roboto;
}

#root {}

@theme {
  --color-smoke: #f5f5f5;
  --color-eerie: #1a1a1a;
  --color-indigo: #6320ee;
  --color-gold: #f7b801;

  --font-roboto: Roboto;
}

@layer base {}

@layer components {
  /* Default margin and paddding for containers */
  .mp-default {
    @apply my-2 mx-auto p-4;
  }
}
